.button {
    position: inline-block;
    align-items: center;
    text-align: center;
    color: black;
    font-size:2vw;
    text-decoration: none;
    margin-top: 65vh;
    padding: 3vh 1vw;
    border-radius: 15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: relative;
  opacity: 0;
  top: 0;
  right: 4vw;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 1vw;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

@media screen and (max-height:500px), screen and (max-width:500px) {
  .button{
      font-size:16px;
      margin: 4px 2px;
      margin-top: 30vh;
      padding: 8px 16px;  
  }
}