html {background-color: rgb(0, 0, 0);}

.main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1vw 1vh;
}

@media screen and (max-height:500px), screen and (max-width:500px) {
    .main{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-gap: 1vw 1vh
    }
}